body {
    background-color: rgb(23,23,23);
    color: rgb(230, 230, 230);
    font-family: Proxima-Nova, "Proxima Nova", HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.header {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 46.8px;
    font-weight: bold;
    letter-spacing: -1px;
    margin: 15px 0;
}

.header::after {
    border-bottom-color: rgb(39,39,39);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    content: "";
    display: block;
    margin: 50px auto;
    width: 70px;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-card {
    width: 30%;
    height: 425px;
    margin: 0 10px;
    margin-bottom: 10px;
    display: none;
}



.project-card .tooltip {
    visibility: hidden;
    width: 25%;
    padding: 5px 0;
    margin: 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    color: rgb(255, 255, 255);
    max-height: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 1024px) {
    .project-card {
        width: 45%;
    }

    .tooltip {
        width: 40%;
    }
}

@media only screen and (max-width: 850px) {
    .project-card {
        width: 95%;
    }

    .tooltip {
        width: 90%;
    }
}

.project-card:hover .tooltip {
    visibility: visible;
}

.project-card:hover .project-image {
    opacity: 0.3;
}

.project-image {
    background-color: rgb(39,39,39);
    background-position: 50% 50%;
    background-size: cover;
    box-sizing: border-box;
    cursor: auto;
    display: block;
    min-height: 340px;
    position: relative;
    transform: matrix(1,0,0,1,0,0);
    transition-delay: 0s, 0s;
    transition-duration: 0.2s, 0.2s;
    transition-property: opacity, transform;
    transition-timing-function: ease-out, ease-out;
}

.project-card a {
    box-sizing: border-box;
    display: block;
    color: rgb(193, 159, 84);
    cursor: auto;
    font-size: 24.2;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 33px;
    text-decoration: none;
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: color;
    transition-timing-function: ease-in;
    word-break: break-word;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.project-card .creator {
    box-sizing: border-box;
    color: rgb(103, 103, 103);
    cursor: auto;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    text-decoration: none;
}

.project-card .avatar {
    border-color: rgb(103, 103, 103);
    border-image-width: 1;
    border-style: none;
    border-width: 0px;
    border-radius: 50%;
    border-image-slice: 100%;
    border-image-repeat: stretch;
    height: 24px;
    width: 24px;
    margin-right: 5px;
    margin-top: -2px;
    vertical-align: middle;
}

.pagination {
    display: block;
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 20px 0;
}

.grey-gold-button {
    background-image: linear-gradient(-180deg, rgb(39,39,39) 0%, rgb(26,26,26) 100%);
    border-style: solid;
    border-radius: 3px;
    border: rgb(16, 16, 16) solid 1px;
    color: rgb(193, 159, 84);
    cursor: pointer;
    display: inline-block;
    width: 45%;
    font-size: 16px;
    text-align: center;
    padding: 14.4px 24px 12.8px 24px;
    text-shadow: rgb(52,52,52) 0px 1px 0px; 
    text-decoration: none;
}